div{
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    margin-top: 0px;
}
#BoxContent{
    padding-bottom: 150px;
    background-color: lightblue;
}
#BoxPadding{
    background-color: rgba(123, 36, 145, 0.425);
    border: 1px dashed black;
}
div#box
{
  width : 50px;
  height : 50px;
  border-radius: 25px;
  position: relative;
  background : -webkit-radial-gradient(center,navy,white);
  -webkit-animation: movingimage linear 2s 0s 500 alternate;
}
    @-webkit-keyframes movingimage
     {
       
        0%   {opacity: 1; left: 350px; top: 0px;}
        25%  {opacity: 1; left: 500px; top: 150px;}
        50%  {opacity: 1; left: 650px; top: 0px;}
        75%  {opacity: 1; left: 800px; top: 150px;}
        100% {opacity: 1; left: 950px; top: 0px;}
     }